<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title><%= title %></title>
</head>
<body>
    <%- include('../partials/header') %>
    <div class="col-sm-3"></div>
        <div class="col-sm-6" id="formCol" style="margin-top: -40px">
            <form action="/submit" method="post" id="mainForm">
                    <p class="formText">
                        Hallo <%= name%>,<br/>
                        nehmt ihr am Jubiläumsabend am 12. September teil? <br/>
                        <label for="comingYes">Ja</label>
                        <input type="text" id="name" name="name" value="<%= name%>" style="display: none"/>
                        <input type="number" style="display: none" id="inviteCode" name="invitationCode" value="<%= code%>">
                        <input type="radio" id="comingYes" name="participation" value="true" required <%= comingYes %>>
                        <label for="comingNo">Nein</label>
                        <input type="radio" id="comingNo" name="participation" value="false" <%= comingNo %>><br/>
                        Mit welcher Personenzahl nehmt ihr teil? <br/>
                        <input type="number" name="numberOfPersons" value="<%= persons %>" required><br/>
                        Davon sind wie viele Vegetarier?<br/>
                        <input type="number" name="numberOfVegetarians" value="<%= vegetarians %>"><br/>
                        
                        Anmerkungen:<br/>
                        <input type="text" name="notes" value="<%= notes %>"/><br/>
                        <input type="submit" style="margin-top: 10px; z-index: 10;">
                    </p>
            </form>
        </div>
    <%- include ('../partials/footer') %>
</body>
</html>